<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <%= "This user has made #{pluralize(@user.ratings.count, 'rating')} with average of #{@user.average_rating}"%>
</p>

<ul>
 <% @user.ratings.each do |rating| %>
   <li> <%= rating %> <%= link_to 'delete', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?' } %> </li>
 <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
