<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <%= "This user has made #{pluralize(@user.ratings.count, 'rating')} with average of #{@user.average_rating}"%>
</p>

<%if @user.favorite_style%>
  <p>
    <%= "Favorite style: #{@user.favorite_style.style}"%>
  </p>
<% end %>

<%if @user.favorite_brewery%>
  <p>
    <%= "Favorite brewery: #{@user.favorite_brewery}" %>
  </p>
<% end %>

<p>
	member of
	<% @user.beer_clubs.each do |club| %>
		<%= link_to club.name, beer_club_path(club.id) %>
	<% end %>
</p>

<ul>
 <% @user.ratings.each do |rating| %>
   <li>
		<%= rating %> 
		<% if @user == current_user %>
			<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
		</li>
    <% end %>
</ul>
<% if @user == current_user %>
	<%= link_to 'Destroy', user_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
